* {
    margin: 0;
    padding: 0;
}


/* Navigation styles + logo */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.logo {
    flex-basis: 30%;
    font-size: 18px;
    font-weight: 600;
}

nav, header {
    background-color: #1F2937;
    color: white;
}

nav div a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Header styles, text + cover picture */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 480px;
    margin: 0 auto;
}

.header_photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 70%;
    background-color: gray;
    margin-left: 20px;
    border-radius: 10px;
}

header div button {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3B82F6;
    border: solid 1px white;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

/* Thumbnails section */

.thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}


.thumbnail_photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title_thumbnail {
    margin-top: 30px;
}

.thumbnail {
    width: 10vw;
    height: 10vw;
    margin: 15px;
    border: solid 2px #3B82F6;
    border-radius: 15px;
}

/* Quote section */

.quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    background-color: #E6E7EB;
    font-weight: 400;
    font-size: 18px;
}

.quote_text {
    margin: 40px 40px 10px 40px;
}

.quote_author {
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    align-self: flex-end;
    font-weight: 600;
}

/* Call to action section */

.cta {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin : 0 auto;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.cta_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    height: 50%;
    align-items: center;
    background-color: #3B82F6;
    border-radius: 8px;
}


.cta_button button {
    border: solid 2px white;
    background-color: #3B82F6;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}

/* Footer styles */

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
